body {
    font-family: Roboto !important;
    font-weight: 300;
}

button{
    border-radius: 0 !important;
}

.bg-gradient-primary {
    background-image: linear-gradient(180deg,#1a558d 10%,#1a768d 100%) !important;
}

.system-title {
    font-family: Roboto;
    font-weight: 900;
    color: #FFFFFF !important;
}

.size-x-large{
    font-size: x-large;
}

.size-xx-large{
    font-size: xx-large;
}

.body-total {
    min-height: 100vh;
}

#initial-page-image {
    background-image: url('/img/guest-page-image.jpg');

    /* Full height */
    height: 70vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-custom-color {
    background-image: linear-gradient(180deg,#1a558d 10%,#1a768d 100%) !important;
}

.form-control{
    border-radius: 0%;
}

.nav-item {
    color: #FFFFFF !important;
}

.nav-item.active{
    color: rgb(0, 0, 0) !important;
}

.theme-color {
    color: #1a558d;
}

.card {
    border-radius: 0;
}

.application-path {
    font-size: 14px!important;
}
